body {
  font-family: Arial, Helvetica, sans-serif !important;
  overflow-x: hidden !important;
  background-color: #EFEFEF !important;
}

.center{
  text-align: -webkit-center;
}

.bg-brown-strong {
  background-color: #403A36 !important;
}

.bg-brown-light{
  background-color: #332A21 !important;
}

.bg-drop-brown{
  background-color: #665951 !important;
}

.bg-skin-strong{
  background-color: #BA9471 !important;
}

.bg-grey-light{
  background-color: #9E958C !important;
}

.bg-grey-very-light{
  background-color: #C9C4C0 !important;
}

.bg-blue-brilliant{
  background-color:#4da6ff !important;
}

.bg-pink-light{
  background-color:#FFD9EC !important;
}

.bg-blue-green-light{
  background-color:#BBF0E8 !important;
}

.bg-grey-blue-light{
  background-color:#B0BEC5 !important;
}

.text-skin{
  color: #E6B181 !important;
}

.toast {
  opacity: 1 !important;
}

.m-0-15{
  margin:0%15%;
}

.mt-20vh{
  margin-top: 20vh;
}

.ml-1vw{
  margin-left: 1vw;
}

.ml-30{
  margin-left: 30%;
}

.ml-45{
  margin-left: 45%;
}

.ml-20{
  margin-left: 20%;
}

.mt-20vh{
  margin-top: 20vh;
}

.hm-40-ovrfl{
  max-height: 40vh;
  overflow-y: auto;
}

.h-fit{
  height: fit-content;
}

.w-18rem{
  width: 18rem;
}

h5{
  font-size: max(15px, 15px);
}

.taula{
  overflow:scroll;
  height:500px;
  width:500px;
}

.lg-pad{
  padding-bottom: 70vh;
  padding-top: 8%;
}

.z-index-10{
  z-index: 10;
}

.dropdown-menu .menu>li>a:hover {
  /*background-color:red !important;*/
  background-color: #E6B181 !important;
  color: #000000 !important;
}

.translations{
  width: 45px;
  height: 30px;
  cursor: pointer;
}

.w-7{
  width:7%;
}

.modal {
  margin-top: 20vh;
}

.sip {
  background-color: #332A21;
}

.mar {
  background-color: #BA9471;
}

.lamodal {
  background-color: #BA9471;
}

/* .dropend:hover>.dropdown-menu {
  display: block;
} */

.background-radial-gradient {
  background-color: #332A21;
  background-image: radial-gradient(650px circle at 0% 0%,
      #D9914E 15%,
      #4d3e2f 35%,
      #403A36 75%,
      #332A21 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      #D9914E 15%,
      #4d3e2f 35%,
      #403A36 75%,
      #332A21 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#D9914E, #E6B181);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#D9914E, #E6B181);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.glowing {
  box-shadow: 0 0 7px rgba(0, 255, 0, 0.7);
}

@keyframes glow-red {
  0% {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
  }
}
.glowing-red2 {
  animation: glow-red-prod 3s infinite;
  top: 0;
}

@keyframes glow-red-prod {
  0%, 100% {
    box-shadow: -10px 0 10px -5px rgba(255, 0, 0, 0.7);
  }
  50% {
    box-shadow: -20px 0 20px -10px rgba(255, 0, 0, 0.7);
  }
}

.glowing-red {
  animation: glow-red 3s infinite;
}

.toast {
  opacity: 1 !important;
}
