<!doctype html>
<html lang="eu">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fitxas</title>
  <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap/icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
  <div id="app">
    <!--HEADER-->
    <header>
      <ul class="nav nav-pills" style="background-color: #403A36;">
        <div class=" nav rounded-end border-white border-4" style="background-color: #332A21;">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="#">
              <i class="bi bi-box-arrow-left" alt="Logout"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="Home.html">
              <i class="bi bi-house" alt="Home"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="Home.html">
              <i class="bi bi-arrow-left" alt="Back"></i>
            </a>
          </li>
          <li class="nav-item me-3 mt-2">
            <a href="#" class="text-white" :class="{ 'fw-bold': currentLocale === 'eu' }"
              @click="changeLanguage('eu')">EU</a>
            <!-- <img src="imagenes/eu.png" class="img-fluid me-2 mt-1" style="width: 45px; height: 30px; cursor: pointer;" @click="changeLanguage('eu')"> -->
          </li>
          <li class="nav-item me-3 mt-2">
            <a href="#" class="text-white" :class="{ 'fw-bold': currentLocale === 'es' }"
              @click="changeLanguage('es')">ES</a>
            <!-- <img src="imagenes/es.png" class="img-fluid mt-1" style="width: 45px; height: 30px; cursor: pointer;" @click="changeLanguage('es')"> -->
          </li>
          <li class="navi-item me-3 mt-2">
            <a class="text-white"
              :class="{ 'fw-bold': environment === 'https://localhost/Erronka2/Back/talde1erronka2' }" href="#"
              @click="changeEnvironment('https://localhost/Erronka2/Back/talde1erronka2')">LOCAL</a>
          </li>
          <li class="navi-item me-3 mt-2">
            <a class="text-white" :class="{ 'fw-bold': environment === 'https://www.talde1-back.edu:8443' }" href="#"
              @click="changeEnvironment('https://www.talde1-back.edu:8443')">SERVER</a>
          </li>
        </div>
      </ul>
    </header>

    <div class="container-fluid p-3">
      <div class="row">

        <div class="col-lg-3">
          <div class="g-0 position-relative justify-content-center">
            <div class="col-md-12 mt-5">
              <h1 class="mb-5"></h1>
              <div>
                <div class="input-group mb-3 w-50">
                  <input type="text" class="form-control" placeholder="" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" @change="filtroNombre()">
                  <button type="button" class="btn btn-light border-black" @click="cargaBezero()">
                    <i class="bi bi-arrow-clockwise"></i>
                  </button>
                </div>
                <table class="table table-striped table-hover w-50 text-center">
                  <tr>
                    <th class="border border-black" style="background-color: #BA9471"></th>
                    <th class="border border-black" style="background-color: #BA9471">{{
                      translations[currentLocale].trabajador.nombre }}</th>
                    <th class="border border-black" style="background-color: #BA9471">{{
                      translations[currentLocale].trabajador.apellidos }}</th>
                  </tr>
                  <tr class="table-secondary" v-for="(bezero) in listaBezero"
                    data-tor="hover:bg-darken(x1)" @click="cargaFitxa(bezero.id)">
                    <td class="table-secondary"><input type="checkbox" :value="bezero.id" v-model="arrayId" :disabled="bezero.id=='no'"></td>
                    <td>{{bezero.izena}}</td>
                    <td>{{bezero.abizena}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-9">
          <div class="row g-0 position-relative justify-content-start">
            <div class="col-md-12 offset-md-1 mt-5">
              <h1 class="mb-5 offset-md-2">Fichas</h1>
              <div>
                <div class="input-group mb-3 w-50">
                  <table class="table table-bordered">


                  </table>
                </div>
                <div class="input-group mb-1 w-50">
                  <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal"
                    data-bs-target="#exampleModalCrear" @click="limpiarCampos()">{{
                    translations[currentLocale].default.añadir
                    }}</button>
                  <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal"
                    data-bs-target="#exampleModalEditar" :disabled="arrayId.length>1 || arrayId.length<=0"
                    @click="cargarDatosModal()">{{ translations[currentLocale].default.editar }}</button>
                  <button type="button" class="btn btn-light border-black mb-3" :disabled="arrayId.length<=0"
                    @click="borrar()">{{ translations[currentLocale].default.borrar }}</button>
                  <select class="form-select border-black w-25 h-25" aria-label="Default select example"
                    @change="filtroGrupo()" aria-placeholder="Grupo">
                    <option selected>Todos</option>
                    <option v-for="(taldea) in listaBezero" :value="taldea.id">{{taldea.izena}}</option>
                  </select>
                </div>

                <table class="table table-striped table-hover w-50 text-center">
                  <tr v-for="(bezeroa) in bezeroSeleccionado">
                    <th class="border border-black" style="background-color: #BA9471">Nombre y apellidos</th>
                    <th class="border border-black" style="background-color: #BA9471">Telefono</th>
                    <td colspan="5" class="border border-black">{{bezeroa.telefonoa}}</td>

                  </tr>
                  <tr v-for="(bezeroa) in bezeroSeleccionado">
                    <td class="border border-black text-start ps-3" colspan="7" >{{bezeroa.izena}} {{bezeroa.abizena}}</td>
                  </tr>
                  <tr v-for="(bezeroa) in bezeroSeleccionado">
                    <th class="border border-black" style="background-color: #BA9471">Cuero cabelludo sensibled</th>
                    <td class="border border-black" colspan="6">{{bezeroa.azal_sentikorra}}</td>
                  </tr>
                  <tr>
                    <th class="border border-black" style="background-color: #BA9471"></th>
                    <th class="border border-black" style="background-color: #BA9471">Fecha </th>
                    <th class="border border-black" style="background-color: #BA9471">Tinte</th>
                    <th class="border border-black" style="background-color: #BA9471">Casa</th>
                    <th class="border border-black" style="background-color: #BA9471">Cantidad</th>
                    <th class="border border-black" style="background-color: #BA9471">Volumenes</th>
                    <th class="border border-black" style="background-color: #BA9471">Observaciones</th>
                  </tr>
                  <tr class="table-secondary" v-for="(fitxa) in listaKolore" data-tor="hover:bg-darken(x1)">
                    <td class="table-secondary"><input type="checkbox" :value="fitxa.id" v-model="arrayId"></td>
                    <td>{{fitxa.data}}</td>
                    <td>{{fitxa.id_produktua}}</td>
                    <td>{{fitxa.kantitatea}}</td>
                    <td>{{fitxa.kantitatea}}</td>
                    <td>{{fitxa.bolumena}}</td>
                    <td>{{fitxa.oharrak}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCrearCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      style="margin-top: 20vh;">
      <div class="modal-dialog">
        <div class="modal-content" style=" background-color: #BA9471">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Cliente</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label>Nombre:</label><br>
            <input type="text" class="w-100" v-model="izenaCrear"><br>
            <label>Apellidos:</label><br>
            <input type="text" class="w-100" v-model="abizenaCrear"><br>
            <label>Telefono:</label><br>
            <input type="text" class="w-100" v-model="telefonoCrear"><br>
            <label>Piel sensible:</label><br>
            <input type="checkbox" v-model="pielCrear"><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-black text-white" data-bs-dismiss="modal">{{
              translations[currentLocale].default.salir }}</button>
            <button type="button" class="btn bg-black text-white" @click="actuDatosModal()">{{
              translations[currentLocale].default.guardar }}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalModificarCliente" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true" style="margin-top: 20vh;">
      <div class="modal-dialog">
        <div class="modal-content" style=" background-color: #BA9471">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Cliente</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label>Nombre:</label><br>
            <input type="text" class="w-100" v-model="izenaCrear"><br>
            <label>Apellidos:</label><br>
            <input type="text" class="w-100" v-model="abizenaCrear"><br>
            <label>Telefono:</label><br>
            <input type="text" class="w-100" v-model="telefonoCrear"><br>
            <label>Piel sensible:</label><br>
            <input type="checkbox" v-model="pielCrear"><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-black text-white" data-bs-dismiss="modal">{{
              translations[currentLocale].default.salir }}</button>
            <button type="button" class="btn bg-black text-white" @click="actuDatosModal()">{{
              translations[currentLocale].default.guardar }}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/translations.js"></script>
  <script src="js/Bezero.js"></script>
  <script src="js/bootstrap/bootstrap.bundle.js"></script>
</body>

</html>