<!doctype html>
<html lang="eu">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Distribuccion</title>
        <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap/icons/font/bootstrap-icons.css" rel="stylesheet">
      </head>
      <body style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" >
        <div id="app" class="w-100 col-12 d-flex flex-row p-5" style="margin-left: 20vh; margin-top:15vh ;">
            <div class=" justify-content-center col-lg-3 ms-5">
                <div class="row g-0 bg-body-secondary position-relative border rounded-3">
                    <div class="col-5 p-2 ps-md-0 mx-auto">
                        <div class="mb-5">
                            <label class="">Grupo</label>
                            <select class="form-select" aria-label="Default select example" v-model="grupoSeleccionado" @change="cargaLangile()">
                                <option v-for="(taldea) in listaTalde" :value="taldea.kodea">{{taldea.kodea}}</option>
                            </select class="form-select" aria-label="Default select example">
                            <label class="">Alumno</label>
                            <select class="form-select" aria-label="Default select example" v-model="langileSeleccionado">
                                <option v-for="(langile) in listaLangile" :value="langile.id">{{langile.izena}} {{langile.abizenak}}</option>
                            </select>
                            <label class="">Tarea</label>
                            <select class="form-select" aria-label="Default select example" v-model="tareaSeleccionado">
                                <option value="M">Mostrador</option>
                                <option value="G">Limpieza</option>
                            </select>
                        </div>
                    </div>
                </div>
                  <div class="d-inline-flex flex-row w-100 mt-5 justify-content-around">
                    <button class="btn btn-secondary w-25">Saltar</button>
                    <button class="btn btn-secondary w-25" @click="createDatos()">Completar</button>
                    <button class="btn btn-secondary w-25">Continuar</button>  
                  </div>                  
            </div>

            <div class="d-flex flex-column col-9">
                <div class=" justify-content-center col-lg-3 mx-auto mb-5">
                    <div class="row g-0 bg-body-secondary position-relative border rounded-3">
                        <div class="col-md-5 p-2 ps-md-0 mx-auto">
                            <div class="mb-3">
                                <label class="mb-3 mt-3" v-for="(valor) in listaTxandaLast" v-if="valor.mota=='M' && typeof valor.id_langilea !== 'number' && Number.isInteger(valor.id_langilea)==false">Mostrador:<br> {{valor.id_langilea}}</label>
                                <label v-for="(valor) in listaTxandaLast" v-if="valor.mota=='G' && typeof valor.id_langilea !== 'number' && Number.isInteger(valor.id_langilea)==false">Limpieza:<br> {{valor.id_langilea}}</label>
                            </div>
                        </div>
                    </div>                
                </div>

                <div class=" justify-content-center col-lg-3 mx-auto">
                    <div class="row g-0 bg-body-secondary position-relative border rounded-3">
                        <div class="col-9 p-2 ps-md-0 mx-auto" style="max-height: 40vh; overflow-y: auto;">
                            <div class="mb-5 mt-5">
                                <div class="table-responsive">
                                    <table class="table table-light">
                                      <thead>
                                        <tr>
                                          <th>Alumno</th>
                                          <th>Mostrador</th>
                                          <th>Limpieza</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr class="table-secondary" v-for="(valor) in listaTxandaCont">
                                            <th>{{ valor.id_langilea }}</th>
                                            <td>{{ valor.mostrador }}</td>
                                            <td>{{ valor.limpieza }}</td>
                                          </tr>
                                      </tbody>
                                    </table>
                                  </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
            
        </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/translations.js"></script>
        <script src="js/DistribucionInicialScript.js"></script>
        <script src="js/bootstrap/bootstrap.bundle.js"></script>
    </body>
</html>
