<!DOCTYPE html>
<html lang="eu">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hitzorduak</title>
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.rawgit.com/nizarmah/calendar-javascript-lib/master/calendarorganizer.min.css" rel="stylesheet" />
    <link href="css/bootstrap/icons/font/bootstrap-icons.css" rel="stylesheet" />
  </head>
  <body style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; " >
    <script src="https://cdn.rawgit.com/nizarmah/calendar-javascript-lib/master/calendarorganizer.min.js"></script>

    <div id="app">
      <!--HEADER-->
      <header>
        <ul class="nav nav-pills" style="background-color: #403a36">
          <div class="nav rounded-end border-white border-4" style="background-color: #332a21" >
            <li class="nav-item">
              <a class="nav-link text-white" aria-current="page" href="#">
                <i class="bi bi-box-arrow-left" alt="Logout"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="Home.html">
                <i class="bi bi-house" alt="Home"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="Home.html">
                <i class="bi bi-arrow-left" alt="Back"></i>
              </a>
            </li>
            <li class="nav-item me-3 mt-2">
              <a href="#" class="text-white" :class="{ 'fw-bold': currentLocale === 'eu' }" @click="changeLanguage('eu')" >EU</a >
              <!-- <img src="imagenes/eu.png" class="img-fluid me-2 mt-1" style="width: 45px; height: 30px; cursor: pointer;" @click="changeLanguage('eu')"> -->
            </li>
            <li class="nav-item me-3 mt-2">
              <a href="#" class="text-white" :class="{ 'fw-bold': currentLocale === 'es' }" @click="changeLanguage('es')" >ES</a >
              <!-- <img src="imagenes/es.png" class="img-fluid mt-1" style="width: 45px; height: 30px; cursor: pointer;" @click="changeLanguage('es')"> -->
            </li>
            <li class="navi-item me-3 mt-2">
              <a class="text-white" :class="{ 'fw-bold': environment === 'https://localhost/Erronka2/Back/talde1erronka2' }" href="#" @click="changeEnvironment('https://localhost/Erronka2/Back/talde1erronka2')" >LOCAL</a >
            </li>
            <li class="navi-item me-3 mt-2">
              <a class="text-white" :class="{ 'fw-bold': environment === 'https://www.talde1-back.edu:8443' }" href="#" @click="changeEnvironment('https://www.talde1-back.edu:8443')" >SERVER</a >
            </li>
          </div>
        </ul>
      </header>
      <div class="justify-content-evenly" style="margin:0%15%">
        <div>
          <h1 class="mb-5 offset-md-2"> {{ translations[currentLocale].citas.titulo }} </h1>
          <div>
            <div class="input-group mb-1 w-50">
              <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalCrear" @click="" > {{ translations[currentLocale].default.añadir }} </button>
            </div>
            <div class="row">
              <div class="col">
                <input type="date" v-model="dataSelec" @change="cargarHitzordu()"/>
                <input type="time" v-model="startHour" @change="getHoursInRange()"/>
                <input type="time" v-model="endHour" @change="getHoursInRange()"/>
                <table>
                  <thead>
                    <tr>
                      <th>Hora</th>
                      <th v-for="eserlekua in eserlekuKop" :key="eserlekua.id">Asiento {{ eserlekua.id }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="time in hoursArray">
                      <td>{{ time }}</td>
                      <td v-for="eserlekua in eserlekuKop" :key="eserlekua.id">
                        <div v-if="getCitasAtTimeAndSeat(time, eserlekua.id,'izena').length > 0" class="card">
                          <div class="card-body" @click="cargar_cita_selec(getCitasAtTimeAndSeat(time, eserlekua.id,'id'))">
                            <h5 class="card-title">{{ getCitasAtTimeAndSeat(time, eserlekua.id,'izena') }}</h5>
                            <p class="card-text">{{ getCitasAtTimeAndSeat(time, eserlekua.id,'deskribapena') }}</p>
                            <!-- <a href="#"  class="btn btn-primary">Editar</a> -->
                          </div>
                        </div> 
                        <div v-else>
                          <button @click="seleccionar_citaCrear(eserlekua.id,time)">Añadir cita</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="crear-tab" data-bs-toggle="tab" data-bs-target="#crear-tab-pane" type="button" role="tab" aria-controls="crear-tab-pane" aria-selected="true">Añadir</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="edit-tab" data-bs-toggle="tab" data-bs-target="#edit-tab-pane" type="button" role="tab" aria-controls="edit-tab-pane" aria-selected="true">Editar</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="asignar-tab" data-bs-toggle="tab" data-bs-target="#asignar-tab-pane" type="button" role="tab" aria-controls="asignar-tab-pane" aria-selected="true">Asignar</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="generar-tab" data-bs-toggle="tab" data-bs-target="#generar-tab-pane" type="button" role="tab" aria-controls="generar-tab-pane" aria-selected="false">Generar</button>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="crear-tab-pane" role="tabpanel" aria-labelledby="crear-tab" tabindex="0">
                    <label>{{ translations[currentLocale].citas.crear.fecha }}:</label>
                    <input type="date" class="w-100" v-model="dataTest" />
                    <label>{{ translations[currentLocale].citas.crear.horaIni }}:</label>
                    <input type="time" class="w-100" v-model="hasOrduaTest" />
                    <label>{{ translations[currentLocale].citas.crear.horaFin }}:</label>
                    <input type="time" class="w-100" v-model="amaOrduaTest" />
                    <label>Eserlekua:</label>
                    <input type="number" class="w-100" v-model="eserlekuaCrear" />
                    <label>{{ translations[currentLocale].citas.crear.nombre }}:</label>
                    <input type="text" class="w-100" v-model="izenaCrear" />
                    <label>{{ translations[currentLocale].citas.crear.telefono}}:</label>
                    <input type="text" class="w-100" v-model="telfCrear" />
                    <label>{{ translations[currentLocale].citas.crear.descripcion }}:</label>
                    <input type="text" class="w-100" v-model="deskCrear" />
                    <div class="d-flex">
                      <label>{{ translations[currentLocale].citas.crear.centro }}:</label>
                      <input type="checkbox" class="w-25" v-model="etxekoCrear" />
                    </div>
                    <button type="button" class="btn btn-primary" @click="createCita()">{{ translations[currentLocale].default.guardar }}</button>
                  </div>
                  <div class="tab-pane fade show" id="edit-tab-pane" role="tabpanel" aria-labelledby="edit-tab" tabindex="0">
                    <label>{{ translations[currentLocale].citas.crear.fecha }}:</label>
                    <input type="date" class="w-100" v-model="dataEditar" />
                    <label>{{ translations[currentLocale].citas.crear.horaIni }}:</label>
                    <input type="time" class="w-100" v-model="hasOrduaEditar" />
                    <label>{{ translations[currentLocale].citas.crear.horaFin }}:</label>
                    <input type="time" class="w-100" v-model="amaOrduaEditar" />
                    <label>{{ translations[currentLocale].citas.crear.nombre }}:</label>
                    <input type="text" class="w-100" v-model="izenaEditar" />
                    <label>{{ translations[currentLocale].citas.crear.telefono}}:</label>
                    <input type="text" class="w-100" v-model="telfEditar" />
                    <label>{{ translations[currentLocale].citas.crear.descripcion }}:</label>
                    <input type="text" class="w-100" v-model="deskEditar" />
                    <div class="d-flex">
                      <label>{{ translations[currentLocale].citas.crear.centro }}:</label>
                      <input type="checkbox" class="w-25" v-model="etxekoEditar" />
                    </div>
                    <button type="button" class="btn bg-black text-white" @click="eliminar_cita()"> {{ translations[currentLocale].default.borrar }} </button>
                    <button type="button" class="btn bg-black text-white" @click="editar_cita()" > {{ translations[currentLocale].default.guardar }} </button>
                  </div>
                  <div class="tab-pane fade show" id="asignar-tab-pane" role="tabpanel" aria-labelledby="asignar-tab" tabindex="0">
                    <span>{{ idSelec }} - {{ izenaSelec }}</span>  
                    <select class="form-select" aria-label="Default select example" v-model="idTalde" @change="cargarComboBox()">
                        <option v-for="(taldea) in taldeArray" :value="taldea.kodea" >{{taldea.kodea}}</option>
                    </select class="form-select" aria-label="Default select example">
                    <select class="form-select" aria-label="Default select example" v-model="idLangile">
                        <option v-for="(langile) in langileArray" :value="langile.id" >{{langile.kodea}} - {{ langile.izena }}</option>
                    </select class="form-select" aria-label="Default select example">
                    <button type="button" class="btn bg-black text-white" @click="asignar_cita()" > {{ translations[currentLocale].default.guardar }} </button>
                  </div>
                  <div class="tab-pane fade" id="generar-tab-pane" role="tabpanel" aria-labelledby="generar-tab" tabindex="0">
                    <span>{{ idSelec }} - {{ izenaSelec }}</span>
                    <ul class="list-group">
                      <li class="list-group-item" v-for="tratamendua in tratamenduArray">
                        <input v-if="etxekoEditar" :disabled="idSelec == null" class="form-check-input me-1" type="checkbox" :value="{'tratamendu_id':tratamendua.id,'prezioa':tratamendua.etxeko_prezioa}" v-model="tratamenduSelec" id="Checkbox">
                        <input v-else :disabled="idSelec == null" class="form-check-input me-1" type="checkbox" :value="{'tratamendu_id':tratamendua.id,'prezioa':tratamendua.kanpoko_prezioa}" v-model="tratamenduSelec" id="Checkbox">
                        <label class="form-check-label" for="Checkbox">{{ tratamendua.izena }}</label>
                        <label v-if="etxekoEditar" class="form-check-label" for="Checkbox"> - Prezio de dentro: {{ tratamendua.etxeko_prezioa }}</label>
                        <label v-else class="form-check-label" for="Checkbox"> - Prezio de fuera: {{ tratamendua.kanpoko_prezioa }}</label>
                      </li>
                    </ul>
                    <button type="button" class="btn bg-black text-white" :disabled="tratamenduSelec.length <= 0" @click="generar_ticket()" > {{ translations[currentLocale].default.guardar }} </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh" >
        <div class="modal-dialog">
          <div class="modal-content" style="background-color: #ba9471">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"> {{ translations[currentLocale].citas.editar.titulo }} </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body row">
                <div class="col">
                  <input type="date" v-model="dataSelec" @change="cargar_citas(true)"/>
                  <div class="card">
                    <div class="card-body">
                      <div class="list-group">
                        <h3 v-if="citasEditarArray.length <= 0">No hay citas</h3>
                        <a v-else v-for="citas in citasEditarArray" :key="citas.id" @click="cargar_cita_selec(citas.id)" class="list-group-item list-group-item-action">{{ citas.hasiera_ordua }} - {{ citas.izena }} - {{ citas.deskribapena }}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  
                </div>
              </div> 
            <div class="modal-footer">
              <button type="button" class="btn bg-black text-white" data-bs-dismiss="modal" > {{ translations[currentLocale].default.salir }} </button>
              
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh" >
        <div class="modal-dialog">
          <div class="modal-content" style="background-color: #ba9471">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabelCrear"> {{ translations[currentLocale].citas.crear.titulo }} </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">
              <label>{{ translations[currentLocale].citas.crear.fecha }}:</label>
              <input type="date" class="w-100" v-model="dataTest" />
              <label>{{ translations[currentLocale].citas.crear.horaIni }}:</label>
              <input type="time" class="w-100" v-model="hasOrduaTest" />
              <label>{{ translations[currentLocale].citas.crear.horaFin }}:</label>
              <input type="time" class="w-100" v-model="amaOrduaTest" />
              <label>{{ translations[currentLocale].citas.crear.nombre }}:</label>
              <input type="text" class="w-100" v-model="izenaCrear" />
              <label>{{ translations[currentLocale].citas.crear.telefono}}:</label>
              <input type="text" class="w-100" v-model="telfCrear" />
              <label>{{ translations[currentLocale].citas.crear.descripcion }}:</label>
              <input type="text" class="w-100" v-model="deskCrear" />
              <div class="d-flex">
                <label>{{ translations[currentLocale].citas.crear.centro }}:</label>
                <input type="checkbox" class="w-25" v-model="etxekoCrear" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ translations[currentLocale].default.salir }}</button>
              <button type="button" class="btn btn-primary" @click="createCita()">{{ translations[currentLocale].default.guardar }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModalAsignar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh" >
        <div class="modal-dialog">
          <div class="modal-content" style="background-color: #ba9471">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"> {{ translations[currentLocale].citas.editar.titulo }} </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body row">
                <div class="col">
                  <input type="date" v-model="dataSelec" @load="today()" @change="cargar_citas(false)"/>
                  <div class="card">
                    <div class="card-body">
                      <div class="list-group">
                        <h3 v-if="citasEditarArray.length <= 0">No hay citas</h3>
                        <a v-else v-for="citas in citasEditarArray" :key="citas.id" @click="cargar_cita_selec(citas.id)" class="list-group-item list-group-item-action">{{ citas.hasiera_ordua }} - {{ citas.izena }} - {{ citas.deskribapena }}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  
                </div>
              </div> 
            <div class="modal-footer">
              <button type="button" class="btn bg-black text-white" data-bs-dismiss="modal" > {{ translations[currentLocale].default.salir }} </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/translations.js"></script>
    <script src="js/HitzorduScript.js"></script>
    <script src="js/bootstrap/bootstrap.bundle.js"></script>
  </body>
</html>
