<!doctype html>
<html lang="eu">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Langileak</title>
        <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="css/estilo.css" rel="stylesheet">
        <link href="css/bootstrap/icons/font/bootstrap-icons.css" rel="stylesheet">
      </head>
      <body>
      <div id="app" >
        <!--HEADER-->
        <header>
          <ul class="nav nav-pills">
            <div class=" nav rounded-end border-white border-4 sip">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#">
                      <i class="bi bi-box-arrow-left" alt="Logout"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="Home.html">
                        <i class="bi bi-house" alt="Home"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="Home.html">
                      <i class="bi bi-arrow-left" alt="Back"></i>
                    </a>
                  </li>
                  <li class="nav-item me-3 mt-2">
                    <a href="#" class="text-white" :class="{ 'fw-bold': currentLocale === 'eu' }" @click="changeLanguage('eu')">EU</a>
                    <!-- <img src="imagenes/eu.png" class="img-fluid me-2 mt-1" style="width: 45px; height: 30px; cursor: pointer;" @click="changeLanguage('eu')"> -->
                  </li>
                  <li class="nav-item me-3 mt-2">
                    <a href="#" class="text-white" :class="{ 'fw-bold': currentLocale === 'es' }" @click="changeLanguage('es')">ES</a>
                    <!-- <img src="imagenes/es.png" class="img-fluid mt-1" style="width: 45px; height: 30px; cursor: pointer;" @click="changeLanguage('es')"> -->
                  </li>
                  <li class="navi-item me-3 mt-2">
                    <a class="text-white" :class="{ 'fw-bold': environment === 'https://localhost/Erronka2/Back/talde1erronka2' }" href="#" @click="changeEnvironment('https://localhost/Erronka2/Back/talde1erronka2')">LOCAL</a>
                  </li>
                  <li class="navi-item me-3 mt-2">
                    <a class="text-white" :class="{ 'fw-bold': environment === 'https://www.talde1-back.edu:8443' }" href="#" @click="changeEnvironment('https://www.talde1-back.edu:8443')">SERVER</a>
                  </li>
            </div>
          </ul>  
        </header>
        
        <div class="justify-content-center">
            <div class="col-md-12 mt-5">
              <h1 class="mb-5" style="margin-left:45%;">{{ translations[currentLocale].trabajador.titulo }}</h1>
              <div>
                <div class="input-group mb-3 w-50 mx-auto">
                  <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" v-model="nombreFil" @input="filtroNombre()">
                  <button type="button" class="btn btn-light border-black" @click="cargaLangile()">
                    <i class="bi bi-arrow-clockwise"></i>
                  </button>
                </div>      
                <div class="input-group mb-1 w-50 mx-auto">
                  <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalCrear" @click="limpiarCampos()">{{ translations[currentLocale].default.añadir }}</button>
                  <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalEditar" :disabled="arrayId.length>1 || arrayId.length<=0" @click="cargarDatosModal()">{{ translations[currentLocale].default.editar }}</button>
                  <button type="button" class="btn btn-light border-black mb-3" :disabled="arrayId.length<=0" @click="borrar()">{{ translations[currentLocale].default.borrar }}</button>
                  <select class="form-select border-black w-25 h-25" aria-label="Default select example" v-model="grupoFil" @change="filtroGrupo()" aria-placeholder="Grupo">
                    <option selected>Todos</option>
                    <option v-for="(taldea) in listaTalde" :value="taldea.kodea">{{taldea.kodea}}</option>
                  </select>
                </div>
                
                  <table class="table table-striped table-hover w-50 text-center mx-auto">
                      <tr>
                          <th class="border border-black" style="background-color: #BA9471"></th>
                          <th class="border border-black" style="background-color: #BA9471">{{ translations[currentLocale].trabajador.nombre }}</th>
                          <th class="border border-black" style="background-color: #BA9471">{{ translations[currentLocale].trabajador.apellidos }}</th>
                          <th class="border border-black" style="background-color: #BA9471">{{ translations[currentLocale].trabajador.codigo }}</th>
                      </tr>
                      <tr class="table-secondary" v-for="(langile) in listaFiltradaPorNombre" data-tor="hover:bg-darken(x1)">
                        <td class="table-secondary"><input type="checkbox" :value="langile.id" v-model="arrayId"></td>
                        <td>{{langile.izena}}</td>
                        <td>{{langile.abizenak}}</td>
                        <td>{{langile.kodea}}</td>
                      </tr>
                  </table>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content lamodal">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{ translations[currentLocale].trabajador.modal.editar }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label>{{ translations[currentLocale].trabajador.nombre }}:</label><br>
                  <input type="text" class="w-100" v-model="izenaActu"><br>
                  <label>{{ translations[currentLocale].trabajador.apellidos }}:</label><br>
                  <input type="text" class="w-100" v-model="abizenaActu"><br>
                  <label>{{ translations[currentLocale].trabajador.grupo }}:</label><br>
                  <select v-model="kodeaActu" >
                    <option v-for="(taldea) in listaTalde" :value="taldea.kodea">{{taldea.kodea}}</option>
                  </select>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn bg-black text-white" data-bs-dismiss="modal">{{ translations[currentLocale].default.salir }}</button>
                  <button type="button" class="btn bg-black text-white" @click="actuDatosModal()">{{ translations[currentLocale].default.guardar }}</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="exampleModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content lamodal">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabelCrear">{{ translations[currentLocale].trabajador.modal.añadir }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label>{{ translations[currentLocale].trabajador.nombre }}:</label><br>
                  <input type="text" class="w-100" v-model="izenaCrear"><br>
                  <label>{{ translations[currentLocale].trabajador.apellidos }}:</label><br>
                  <input type="text" class="w-100" v-model="abizenaCrear"><br>
                  <label>{{ translations[currentLocale].trabajador.grupo }}:</label><br>
                  <select v-model="kodeaCrear" >
                    <option v-for="(taldea) in listaTalde" :value="taldea.kodea">{{taldea.kodea}}</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ translations[currentLocale].default.salir }}</button>
                  <button type="button" class="btn btn-primary" @click="createDatosModal()">{{ translations[currentLocale].default.guardar }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/translations.js"></script>
        <script src="js/LangileScript.js"></script>
        <script src="js/bootstrap/bootstrap.bundle.js"></script>
    </body>
</html>
