<!doctype html>
<html lang="eu">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ordutegiak</title>
        <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap/icons/font/bootstrap-icons.css" rel="stylesheet">
    </head>
    <body style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        <div id="app">
          <!--HEADER-->
        <header>
          <ul class="nav nav-pills" style="background-color: #403A36;">
            <div class=" nav rounded-end border-white border-4" style="background-color: #332A21;">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#">
                      <i class="bi bi-box-arrow-left" alt="Logout"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">
                        <i class="bi bi-house" alt="Home"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">
                      <i class="bi bi-arrow-left" alt="Back"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <img src="imagenes/eu.png" class="img-fluid me-2 mt-1" style="width: 45px; height: 30px; cursor: pointer;" @click="changeLanguage('eu')">
                  </li>
                  <li class="nav-item me-3">
                    <img src="imagenes/es.png" class="img-fluid mt-1" style="width: 45px; height: 30px; cursor: pointer;" @click="changeLanguage('es')">
                  </li>
                  <li class="navi-item me-3 mt-2">
                    <a class="text-white" href="#" @click="changeEnvironment('http://localhost/Erronka2/Back/talde1erronka2')">LOCAL</a>
                  </li>
                  <li class="navi-item me-3 mt-2">
                    <a class="text-white" href="#" @click="changeEnvironment('http://www.talde1.edu:8081')">SERVER</a>
                  </li>
            </div>
          </ul>  
        </header>

        <div class="row justify-content-center">
          <div class="col-md-10 offset-md-5 mt-5">
            <h1 class="mb-5 offset-md-2">{{ translations[currentLocale].horarios.titulo }}</h1>
            <div class="input-group mb-3 w-50">
              <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" :disabled="arrayId.length>1" @click="cargarDatosModal()">{{ translations[currentLocale].default.editar }}</button>
              <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalCrear">{{ translations[currentLocale].default.añadir }}</button>
              <button type="button" class="btn btn-light border-black mb-3" @click="borrar()">{{ translations[currentLocale].default.borrar }}</button>
              <select class="form-select border-black w-25 h-25" aria-label="Default select example" v-model="grupoFil" @change="filtroGrupo()">
                <option selected>{{ translations[currentLocale].default.filtroGrupo }}</option>
                <option v-for="(taldea) in listaTalde" :value="taldea.kodea">{{taldea.kodea}}</option>
              </select>
              <button type="button" class="btn btn-light border-black mb-3" @click="cargaLangile()">
                <i class="bi bi-arrow-clockwise"></i>
              </button>
            </div>

            <table class="table table-striped table-hover w-50 text-center">
              <tr>
                  <th class="border border-black" style="background-color: #BA9471"></th>
                  <th class="border border-black" style="background-color: #BA9471">{{ translations[currentLocale].horarios.codigo }}</th>
                  <th class="border border-black" style="background-color: #BA9471">{{ translations[currentLocale].horarios.dia }}</th>
                  <th class="border border-black" style="background-color: #BA9471">{{ translations[currentLocale].horarios.fechaInicio }}</th>
                  <th class="border border-black" style="background-color: #BA9471">{{ translations[currentLocale].horarios.fechaFinal }}</th>
                  <th class="border border-black" style="background-color: #BA9471">{{ translations[currentLocale].horarios.horaInicio }}</th>
                  <th class="border border-black" style="background-color: #BA9471">{{ translations[currentLocale].horarios.horaFinal }}</th>
              </tr>
              <tr class="table-secondary" v-for="(ordutegi) in listaOrdutegi">
                <td class="table-secondary"><input type="checkbox" :value="ordutegi.id"v-model="arrayId"></td>
                <td>{{ordutegi.kodea}}</td>
                <td>{{ordutegi.eguna}}</td>
                <td>{{ordutegi.hasiera_data}}</td>
                <td>{{ordutegi.amaiera_data}}</td>
                <td>{{ordutegi.hasiera_ordua}}</td>
                <td>{{ordutegi.amaiera_ordua}}</td>
              </tr>
          </table>
          </div>
        </div>
        
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{ translations[currentLocale].horarios.modal.editar }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" v-for="(ordutegi) in listaOrdutegiById">
                  <label>{{ translations[currentLocale].horarios.codigo }}:</label><br>
                  <input type="text" class="w-100" v-model="kodeaActu"><br>
                  <label>{{ translations[currentLocale].horarios.dia }}:</label><br>
                  <input type="number" class="w-100" v-model="egunaActu"><br>
                  <label>{{ translations[currentLocale].horarios.fechaInicio }}:</label><br>
                  <input type="date" v-model="hasieradataActu"><br>
                  <label>{{ translations[currentLocale].horarios.horaInicio }}:</label><br>
                  <input type="time" v-model="hasieraorduaActu"><br>
                  <label>{{ translations[currentLocale].horarios.fechaFinal }}:</label><br>
                  <input type="date" v-model="amaieradataActu"><br>
                  <label>{{ translations[currentLocale].horarios.horaFinal }}:</label><br>
                  <input type="time" v-model="amaieraorduaActu"><br>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ translations[currentLocale].default.salir }}</button>
                  <button type="button" class="btn btn-primary" @click="actuDatosModal()">{{ translations[currentLocale].default.guardar }}</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="exampleModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabelCrear">{{ translations[currentLocale].horarios.modal.añadir }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label>{{ translations[currentLocale].horarios.codigo }}:</label><br>
                  <input type="text" class="w-100" v-model="kodeaCrear"><br>
                  <label>{{ translations[currentLocale].horarios.dia }}:</label><br>
                  <input type="number" class="w-100" v-model="egunaCrear"><br>
                  <label>{{ translations[currentLocale].horarios.fechaInicio }}:</label><br>
                  <input type="date" v-model="hasieradataCrear"><br>
                  <label>{{ translations[currentLocale].horarios.horaInicio }}:</label><br>
                  <input type="time"  step="2"v-model="hasieraorduaCrear"><br>
                  <label>{{ translations[currentLocale].horarios.fechaFinal }}:</label><br>
                  <input type="date" v-model="amaieradataCrear"><br>
                  <label>{{ translations[currentLocale].horarios.horaFinal }}:</label><br>
                  <input type="time"  step="2" v-model="amaieraorduaCrear"><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ translations[currentLocale].default.salir }}</button>
                  <button type="button" class="btn btn-primary" @click="createDatosModal()">{{ translations[currentLocale].default.guardar }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/translations.js"></script>
        <script src="js/OrdutegiScript.js"></script>
        <script src="js/bootstrap/bootstrap.bundle.js"></script>
    </body>
</html>