<!doctype html>
<html lang="eu">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ordutegiak</title>
        <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    </head>
    <body>
        <ul class="nav nav-pills bg-dark-subtle">
            <div class=" nav bg-black rounded-end border-white border-4">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
            </div>  
          </ul>
        <div id="app">
          <div style="margin-left: 30vw; margin-top: 10vh;">
            <h1 style="margin-left: 15vw;">Horarios</h1>
            <div style="margin-top: 10vh;">
              <div class="input-group mb-1 w-50">
                <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" :disabled="arrayId.length>1" @click="cargarDatosModal()">Editar</button>
                <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalCrear">Añadir</button>
                <button type="button" class="btn btn-light border-black mb-3" @click="borrar()">Borrar</button>
                <select class="form-select border-black w-25 h-25" aria-label="Default select example" v-model="grupoFil" @change="filtroGrupo()">
                  <option selected>Selecciona un grupo</option>
                  <option v-for="(taldea) in listaTalde" :value="taldea.kodea">{{taldea.kodea}}</option>
                </select>
              </div>
                
                <div class="input-group mb-3 w-50">
                  <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" v-model="nombreFil" @change="filtroNombre()">
                  <button class="btn btn-light border-black"><i class="bi bi-search"></i></button>
                </div> 
                <table class="table table-striped table-hover w-50">
                    <tr class="table-primary">
                        <th class="table-primary" style="background-color: #BA9471"></th>
                        <th class="table-primary" style="background-color: #BA9471">Kodea</th>
                        <th class="table-primary" style="background-color: #BA9471">Eguna</th>
                        <th class="table-primary" style="background-color: #BA9471">Hasiera Data</th>
                        <th class="table-primary" style="background-color: #BA9471">Amaiera Data</th>
                        <th class="table-primary" style="background-color: #BA9471">Hasiera Ordua</th>
                        <th class="table-primary" style="background-color: #BA9471">Amaiera Ordua</th>
                    </tr>
                    <tr class="table-secondary" v-for="(ordutegi) in listaOrdutegi">
                      <td class="table-secondary"><input type="checkbox" :value="ordutegi.id"v-model="arrayId"></td>
                      <td>{{ordutegi.kodea}}</td>
                      <td>{{ordutegi.eguna}}</td>
                      <td>{{ordutegi.hasiera_data}}</td>
                      <td>{{ordutegi.amaiera_data}}</td>
                      <td>{{ordutegi.hasiera_ordua}}</td>
                      <td>{{ordutegi.amaiera_ordua}}</td>

                    </tr>
                </table>
            </div>
          </div>
        
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Horarios</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" v-for="(ordutegi) in listaOrdutegiById">
                  <select v-model="kodeaActu" >
                    <option v-for="(taldea) in listaTalde" :value="taldea.kodea">{{taldea.kodea}}</option>
                  </select>
                  <label>Eguna:</label><br>
                  <input type="number" class="w-100" v-model="egunaActu"><br>
                  <label>Hasiera Data:</label><br>
                  <input type="date" v-model="hasieradataActu"><br>
                  <label>Hasiera Ordua:</label><br>
                  <input type="time" v-model="hasieraorduaActu"><br>
                  <label>Amaiera Data:</label><br>
                  <input type="date" v-model="amaieradataActu"><br>
                  <label>Amaiera Ordua:</label><br>
                  <input type="time" v-model="amaieraorduaActu"><br>
                  

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                  <button type="button" class="btn btn-primary" @click="actuDatosModal()">Guardar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="exampleModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabelCrear">Crear Horarios</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label>Kodea:</label><br>
                  <input type="text" class="w-100" v-model="kodeaCrear"><br>
                  <label>Eguna:</label><br>
                  <input type="number" class="w-100" v-model="egunaCrear"><br>
                  <label>Hasiera Data:</label><br>
                  <input type="date" v-model="hasieradataCrear"><br>
                  <label>Hasiera Ordua:</label><br>
                  <input type="time"  step="2"v-model="hasieraorduaCrear"><br>
                  <label>Amaiera Data:</label><br>
                  <input type="date" v-model="amaieradataCrear"><br>
                  <label>Amaiera Ordua:</label><br>
                  <input type="time"  step="2" v-model="amaieraorduaCrear"><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                  <button type="button" class="btn btn-primary" @click="createDatosModal()">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/OrdutegiScript.js"></script>
        <script src="js/bootstrap/bootstrap.bundle.js"></script>
    </body>
</html>