<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Taldeak</title>
        <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
        <link href="css/estilo.css" rel="stylesheet">
        <link href="css/bootstrap/icons/font/bootstrap-icons.css" rel="stylesheet">
        <link href="js/toastr/build/toastr.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
          <!--HEADER-->
        <header>
          <ul class="nav nav-pills bg-brown-strong">
            <div class="nav rounded-end border-white border-4 sip">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="Login.html">
                  <i class="bi bi-box-arrow-left" alt="Logout"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="Home.html">
                  <i class="bi bi-house" alt="Home"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" @click="retroceder()">
                  <i class="bi bi-arrow-left" alt="Back"></i>
                </a>
              </li>
              <li class="nav-item me-3 mt-2">
                <a href="#" class="text-white" :class="{ 'fw-bold': currentLocale === 'eu' }" @click="changeLanguage('eu')" >EU</a >
              </li>
              <li class="nav-item me-3 mt-2">
                <a href="#" class="text-white" :class="{ 'fw-bold': currentLocale === 'es' }" @click="changeLanguage('es')" >ES</a >
              </li>
            </div>
          </ul>
        </header>
        <div class="justify-content-center">
          <div class="col-md-10 mt-5 mx-auto">
            <h1 class="mb-5 ml-45">{{ translations[currentLocale].grupos.titulo }}</h1>            
            <div class="input-group mb-3 w-50 mx-auto">
              <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalCrear" @click="limpiarCampos()">{{ translations[currentLocale].default.añadir }}</button>
              <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalEditar" :disabled="arrayId.length>1 || arrayId.length<=0" @click="cargarDatosModal()">{{ translations[currentLocale].default.editar }}</button>
              <button type="button" class="btn btn-light border-black mb-3" :disabled="arrayId.length<=0" @click="borrar()">{{ translations[currentLocale].default.borrar }}</button>
              <input type="text" class="form-select border-black w-25 h-fit" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" v-model="nombreFil" @input="callFiltro()" >
              <button class="btn btn-light border-black h-25"><i class="bi bi-search"></i></button>
            </div>
            <table class="table table-striped table-hover w-50 text-center mx-auto">
              <tr>
                  <th class="border border-black bg-skin-strong" ></th>
                  <th class="border border-black bg-skin-strong" >{{ translations[currentLocale].grupos.codigo }}</th>
                  <th class="border border-black bg-skin-strong" >{{ translations[currentLocale].grupos.nombre }}</th>
              </tr>
              <tr class="table-secondary" v-for="(talde) in listaTalde" data-tor="hover:bg-darken(x1)">
                <td class="table-secondary"><input type="checkbox" :value="talde.kodea"v-model="arrayId"></td>
                <td>{{talde.kodea}}</td>
                <td>{{talde.izena}}</td>
              </tr>
          </table>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content lamodal">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ translations[currentLocale].grupos.modal.editar }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" v-for="(talde) in listaTaldeById">
                <label>{{ translations[currentLocale].grupos.nombre }}:</label><br>
                <input type="text" class="w-100" v-model="izenaActu"><br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ translations[currentLocale].default.salir }}</button>
                <button type="button" class="btn btn-primary" @click="actuDatosModal()">{{ translations[currentLocale].default.guardar }}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content lamodal">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabelCrear">{{ translations[currentLocale].grupos.modal.añadir }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <label>{{ translations[currentLocale].grupos.codigo }}:</label><br>
                <input type="text" class="w-100" v-model="kodeaCrear"><br>
                <label>{{ translations[currentLocale].grupos.nombre }}:</label><br>
                <input type="text" class="w-100" v-model="izenaCrear"><br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ translations[currentLocale].default.salir }}</button>
                <button type="button" class="btn btn-primary" @click="createDatosModal()">{{ translations[currentLocale].default.guardar }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="js/translations.js"></script>
      <script src="js/bootstrap/jquery-3.7.1.js"></script>
      <script src="js/toastr/toastr.js"></script>
      <script src="js/TaldeScript.js"></script>
      <script src="js/bootstrap/bootstrap.bundle.js"></script>
    </body>
</html>