<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <ul class="nav nav-pills bg-dark-subtle">
            <div class=" nav bg-black rounded-end border-white border-4">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
            </div>  
          </ul>
        <div id="app">
          <div style="margin-left: 30vw; margin-top: 10vh;">
            <h1 style="margin-left: 15vw;">Horarios</h1>
            <div style="margin-top: 10vh;">

                <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" :disabled="arrayId.length>1" @click="cargarDatosModal()">Editar</button>
                <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalCrear">Añadir</button>
                <button type="button" class="btn btn-light border-black mb-3" @click="borrar()">Borrar</button>
                <table class="table table-striped table-hover w-50">
                    <tr class="table-primary">
                        <td class="table-primary"></td>
                        <td class="table-primary">Kodea</td>
                        <td class="table-primary">Eguna</td>
                        <td class="table-primary">Hasiera Data</td>
                        <td class="table-primary">Amaiera Data</td>
                        <td class="table-primary">Hasiera Ordua</td>
                        <td class="table-primary">Amaiera Ordua</td>
                    </tr>
                    <tr class="table-secondary" v-for="(ordutegi) in listaOrdutegi">
                      <td class="table-secondary"><input type="checkbox" :value="ordutegi.id"v-model="arrayId"></td>
                      <td>{{ordutegi.kodea}}</td>
                      <td>{{ordutegi.eguna}}</td>
                      <td>{{ordutegi.hasiera_data}}</td>
                      <td>{{ordutegi.amaiera_data}}</td>
                      <td>{{ordutegi.hasiera_ordua}}</td>
                      <td>{{ordutegi.amaiera_ordua}}</td>

                    </tr>
                </table>
            </div>
          </div>
        
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Horarios</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" v-for="(ordutegi) in listaOrdutegiById">
                  <label>Kodea:</label><br>
                  <input type="text" class="w-100" v-model="kodeaActu"><br>
                  <label>Eguna:</label><br>
                  <input type="number" class="w-100" v-model="egunaActu"><br>
                  <label>Hasiera Data:</label><br>
                  <input type="date" v-model="hasieradataActu"><br>
                  <label>Hasiera Ordua:</label><br>
                  <input type="time" v-model="hasieraorduaActu"><br>
                  <label>Amaiera Data:</label><br>
                  <input type="date" v-model="amaieradataActu"><br>
                  <label>Amaiera Ordua:</label><br>
                  <input type="time" v-model="amaieraorduaActu"><br>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                  <button type="button" class="btn btn-primary" @click="actuDatosModal()">Guardar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="exampleModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabelCrear">Crear Horarios</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label>Kodea:</label><br>
                  <input type="text" class="w-100" v-model="kodeaCrear"><br>
                  <label>Eguna:</label><br>
                  <input type="number" class="w-100" v-model="egunaCrear"><br>
                  <label>Hasiera Data:</label><br>
                  <input type="date" v-model="hasieradataCrear"><br>
                  <label>Hasiera Ordua:</label><br>
                  <input type="time"  step="2"v-model="hasieraorduaCrear"><br>
                  <label>Amaiera Data:</label><br>
                  <input type="date" v-model="amaieradataCrear"><br>
                  <label>Amaiera Ordua:</label><br>
                  <input type="time"  step="2" v-model="amaieraorduaCrear"><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                  <button type="button" class="btn btn-primary" @click="createDatosModal()">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

          <script>
            new Vue({
              el: '#app',
              data: {
                selectedCheckbox: null, // Esta variable almacenará la ID del checkbox seleccionado
                arrayId :[],
                kodeaActu:"",
                egunaActu:"",
                hasieradataActu:"",
                hasieraorduaActu:"",
                amaieradataActu:"",
                amaieraorduaActu:"",
                kodeaCrear:"",
                egunaCrear:"",
                hasieradataCrear:"",
                hasieraorduaCrear:"",
                amaieradataCrear:"",
                amaieraorduaCrear:"",
                listaOrdutegi:[],
                listaOrdutegiById:[],
                existe: null
              },
              methods: {
                cargaLangile() {
                  this.listaOrdutegi=[];
                  fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/ordutegiak')
                  .then(dato => {
                    return dato.json();
                  })
                  .then(datos => {
                    for(var i=0; i < datos.length; i++){
                      
                      if(datos[i].ezabatze_data === null || datos[i].ezabatze_data==="0000-00-00 00:00:00"){
                      this.listaOrdutegi.push(datos[i]);
                    }
                    }
                  })
                  .catch(error => {
                    console.error('Se ha producido un error:', error);
                  });
                },
                cargarDatosModal(){
                  fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/ordutegiakortubyid/'+this.arrayId[0])
                  .then(dato => {
                    return dato.json();
                  })
                  .then(datos => {
                    this.listaOrdutegiById= datos;
                    console.log(this.listaOrdutegiById);
                    this.kodeaActu=this.listaOrdutegiById[0].kodea;
                    this.egunaActu=this.listaOrdutegiById[0].eguna;
                    this.hasieradataActu=this.listaOrdutegiById[0].hasiera_data;
                    this.hasieraorduaActu=this.listaOrdutegiById[0].hasiera_ordua;
                    this.amaieradataActu=this.listaOrdutegiById[0].amaiera_data;
                    this.amaieraorduaActu=this.listaOrdutegiById[0].amaiera_ordua;
                  })
                  .catch(error => {
                    console.error('Se ha producido un error:', error);
                  });
                },
                actuDatosModal(){
                  const id=this.arrayId[0];
                  const kodea=this.kodeaActu;
                  const eguna=this.egunaActu;
                  const hasiera_data=this.hasieradataActu;
                  const hasiera_ordua=this.hasieraorduaActu;
                  const amaiera_data=this.amaieradataActu;
                  const amaiera_ordua=this.amaieraorduaActu;
                  const eguneratze_data_primaria = new Date();
                  const year = eguneratze_data_primaria.getFullYear();
                  const month = ('0' + (eguneratze_data_primaria.getMonth() + 1)).slice(-2);
                  const day = ('0' + eguneratze_data_primaria.getDate()).slice(-2);
                  const hours = ('0' + eguneratze_data_primaria.getHours()).slice(-2);
                  const minutes = ('0' + eguneratze_data_primaria.getMinutes()).slice(-2);
                  const seconds = ('0' + eguneratze_data_primaria.getSeconds()).slice(-2);
                  const eguneratze_data = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                  const jsonEditatu = {
                      "id": id,
                      "kodea": kodea,
                      "eguna": eguna,
                      "hasiera_data": hasiera_data,
                      "hasiera_ordua": hasiera_ordua,
                      "amaiera_data": amaiera_data,
                      "amaiera_ordua": amaiera_ordua,
                      "eguneratze_data": eguneratze_data
                    };

                  console.log(JSON.stringify(jsonEditatu));
                  fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/ordutegiak', {
                    method: 'PUT',
                    headers: {
                      'Content-Type': 'application/json', // Indicar el tipo de contenido como JSON
                    },
                    body: JSON.stringify(jsonEditatu), // Convertir el objeto JSON a una cadena JSON
                  })
                  .then(response => {
                    alert("Se ha actualizado");
                    this.cargaLangile();
                  })
                  .catch(error => {
                    console.error('Se ha producido un error:', error);
                  });

                }
                ,
                createDatosModal(){
                  const kodea=this.kodeaCrear;
                  const eguna=this.egunaCrear;
                  const hasiera_data=this.hasieradataCrear;
                  const hasiera_ordua=this.hasieraorduaCrear;
                  const amaiera_data=this.amaieradataCrear;
                  const amaiera_ordua=this.amaieraorduaCrear;
                  const sortze_data_primaria = new Date();
                  const year = sortze_data_primaria.getFullYear();
                  const month = ('0' + (sortze_data_primaria.getMonth() + 1)).slice(-2);
                  const day = ('0' + sortze_data_primaria.getDate()).slice(-2);
                  const hours = ('0' + sortze_data_primaria.getHours()).slice(-2);
                  const minutes = ('0' + sortze_data_primaria.getMinutes()).slice(-2);
                  const seconds = ('0' + sortze_data_primaria.getSeconds()).slice(-2);
                  const sortze_data = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                  const jsonEditatu = {
                      "kodea": kodea,
                      "eguna": eguna,
                      "hasiera_data": hasiera_data,
                      "hasiera_ordua": hasiera_ordua,
                      "amaiera_data": amaiera_data,
                      "amaiera_ordua": amaiera_ordua,
                      "sortze_data": sortze_data
                    };
                  fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/ordutegiak', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json', // Indicar el tipo de contenido como JSON
                    },
                    body: JSON.stringify(jsonEditatu), // Convertir el objeto JSON a una cadena JSON
                  })
                  .then(response => {
                    alert("Se ha creado");
                    this.cargaLangile();
                  })
                  .catch(error => {
                    console.error('Se ha producido un error:', error);
                  });

                },
                async borrar() {
                  let ondo = false;
                  try {
                    for(var i=0; i < this.arrayId.length; i++){
                      const id = this.arrayId[i];
                      const ezabatze_data_primaria = new Date();
                      const year = ezabatze_data_primaria.getFullYear();
                      const month = ('0' + (ezabatze_data_primaria.getMonth() + 1)).slice(-2);
                      const day = ('0' + ezabatze_data_primaria.getDate()).slice(-2);
                      const hours = ('0' + ezabatze_data_primaria.getHours()).slice(-2);
                      const minutes = ('0' + ezabatze_data_primaria.getMinutes()).slice(-2);
                      const seconds = ('0' + ezabatze_data_primaria.getSeconds()).slice(-2);
                      const ezabatze_data = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                      const jsonEzabatu = {
                        "id": id,
                        "ezabatze_data": ezabatze_data
                      };
                      console.log(JSON.stringify(jsonEzabatu));

                      const deleteResponse = await fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/ordutegiak', {
                        method: 'DELETE',
                        headers: {
                          'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(jsonEzabatu),
                      });

                      if (!deleteResponse.ok) {
                        console.log('Errorea ezabatzerakoan');
                        throw new Error('Errorea ezabatzerakoan');
                      }

                      ondo = true;
                      this.cargaLangile();
                    }
                  } catch (error) {
                    ondo = false;
                    console.error('Errorea:', error);
                  }
                  if(ondo){
                    alert("Eguneratu egin da");
                  }

                  this.arrayId = [];
                },
                limpiarCampos(){
                  this.izenaCrear = "";
                  this.abizenaCrear = "";
                  this.kodeaCrear = "";
                }
              },
              mounted() {
                  // Llama a tu función cargarPagina cuando el componente se monta
                  this.cargaLangile();
                }
            });
          </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>