<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <ul class="nav nav-pills bg-dark-subtle">
            <div class=" nav bg-black rounded-end border-white border-4">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
            </div>  
          </ul>
        <div id="app">
          <div style="margin-left: 30vw; margin-top: 10vh;">
            <h1 style="margin-left: 15vw;">Horarios</h1>
            <div style="margin-top: 10vh;">

                <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" :disabled="arrayId.length>1" @click="cargarDatosModal()">Editar</button>
                <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalCrear">Añadir</button>
                <button type="button" class="btn btn-light border-black mb-3" @click="borrar()">Borrar</button>
                <table class="table table-striped table-hover w-50">
                    <tr class="table-primary">
                        <td class="table-primary"></td>
                        <td class="table-primary">Kodea</td>
                        <td class="table-primary">Eguna</td>
                        <td class="table-primary">Hasiera Data</td>
                        <td class="table-primary">Amaiera Data</td>
                        <td class="table-primary">Hasiera Ordua</td>
                        <td class="table-primary">Amaiera Ordua</td>
                    </tr>
                    <tr class="table-secondary" v-for="(ordutegi) in listaOrdutegi">
                      <td class="table-secondary"><input type="checkbox" @change="handleCheckboxChange(ordutegi.id)"></td>
                      <td>{{ordutegi.kodea}}</td>
                      <td>{{ordutegi.eguna}}</td>
                      <td>{{ordutegi.hasiera_data}}</td>
                      <td>{{ordutegi.amaiera_data}}</td>
                      <td>{{ordutegi.hasiera_ordua}}</td>
                      <td>{{ordutegi.amaiera_ordua}}</td>

                    </tr>
                </table>
            </div>
          </div>
        
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Horarios</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" v-for="(ordutegi) in listaOrdutegiById">
                  <label>Kodea:</label><br>
                  <input type="text" class="w-100" v-model="izenaActu"><br>
                  <label>Eguna:</label><br>
                  <input type="number" class="w-100" v-model="abizenaActu"><br>
                  <label>Hasiera Data:</label><br>
                  <input type="datetime" v-model="kodeaActu"><br>
                  <label>Hasiera Ordua:</label><br>
                  <input type="time" v-model="kodeaActu"><br>
                  <label>Amaiera Data:</label><br>
                  <input type="datetime" v-model="kodeaActu"><br>
                  <label>Amaiera Ordua:</label><br>
                  <input type="time" v-model="kodeaActu"><br>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                  <button type="button" class="btn btn-primary" @click="actuDatosModal()">Guardar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="exampleModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabelCrear">Crear Horarios</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label>Izena:</label><br>
                  <input type="text" class="w-100" v-model="izenaCrear"><br>
                  <label>Abizenak:</label><br>
                  <input type="text" class="w-100" v-model="abizenaCrear"><br>
                  <label>Taldea:</label><br>
                  <input type="text" v-model="kodeaCrear"><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                  <button type="button" class="btn btn-primary" @click="createDatosModal()">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

          <script>
            new Vue({
              el: '#app',
              data: {
                selectedCheckbox: null, // Esta variable almacenará la ID del checkbox seleccionado
                arrayId :[],
                kodeaActu:"",
                egunaActu:"",
                hasieradataActu:"",
                hasieraorduaActu:"",
                amaieradataActu:"",
                amaieraorduaActu:"",
                izenaCrear:"",
                abizenaCrear:"",
                kodeaCrear:"",
                listaOrdutegi:[],
                listaOrdutegiById:[],
                existe: null
              },
              methods: {
                handleCheckboxChange(checkboxId) {
                  this.existe=false;
                  console.log('Checkbox seleccionado:', checkboxId);
                  this.selectedCheckbox = checkboxId; 
                  if(this.arrayId.length==0){
                    this.arrayId[0]=checkboxId;
                  }else{
                  //  for(var i=0; i < this.arrayId.length; i++){
                      if(this.arrayId.includes(checkboxId)){
                        console.log('Checkbox seleccionado', checkboxId, "es igual a ",this.arrayId[0]);
                        this.arrayId.splice(this.arrayId.indexOf(checkboxId), 1);
                      }else{
                        this.arrayId.push(checkboxId);
                      }
                  }
                  

                },
                cargaLangile() {
                  fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/ordutegiaklortu')
                  .then(dato => {
                    return dato.json();
                  })
                  .then(datos => {
                    for(var i=0; i < datos.length; i++){
                      
                      if(datos[i].ezabatze_data === null || datos[i].ezabatze_data==="0000-00-00 00:00:00"){
                      this.listaOrdutegi.push(datos[i]);
                    }
                    }
                  })
                  .catch(error => {
                    console.error('Se ha producido un error:', error);
                  });
                },
                cargarDatosModal(){
                  fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/langileaklortubyid/'+this.arrayId[0])
                  .then(dato => {
                    return dato.json();
                  })
                  .then(datos => {
                    this.listaOrdutegiById= datos;
                    console.log(this.listaOrdutegiById);
                    this.izenaActu=this.listaOrdutegiById[0].izena;
                    this.abizenaActu=this.listaOrdutegiById[0].abizenak;
                    this.kodeaActu=this.listaOrdutegiById[0].kodea;
                  })
                  .catch(error => {
                    console.error('Se ha producido un error:', error);
                  });
                },
                actuDatosModal(){
                  const id=this.arrayId[0];
                  const izena=this.izenaActu;
                  const abizenak=this.abizenaActu;
                  const kodea=this.kodeaActu;
                  const eguneratze_data_primaria = new Date();
                  const year = eguneratze_data_primaria.getFullYear();
                  const month = ('0' + (eguneratze_data_primaria.getMonth() + 1)).slice(-2);
                  const day = ('0' + eguneratze_data_primaria.getDate()).slice(-2);
                  const hours = ('0' + eguneratze_data_primaria.getHours()).slice(-2);
                  const minutes = ('0' + eguneratze_data_primaria.getMinutes()).slice(-2);
                  const seconds = ('0' + eguneratze_data_primaria.getSeconds()).slice(-2);
                  const eguneratze_data = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                  const arrayActu = [id,izena,abizenak,kodea,eguneratze_data];
                  

                  fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/langileakeguneratu', {
                    method: 'PUT',
                    headers: {
                      'Content-Type': 'application/json', // Indicar el tipo de contenido como JSON
                    },
                    body: JSON.stringify(arrayActu), // Convertir el objeto JSON a una cadena JSON
                  })
                  .then(response => {
                    alert("Se ha actualizado");
                    this.cargaLangile();
                  })
                  .catch(error => {
                    console.error('Se ha producido un error:', error);
                  });

                }
                ,
                createDatosModal(){
                  const izena=this.izenaCrear;
                  const abizenak=this.abizenaCrear;
                  const kodea=this.kodeaCrear;
                  const sortze_data_primaria = new Date();
                  const year = sortze_data_primaria.getFullYear();
                  const month = ('0' + (sortze_data_primaria.getMonth() + 1)).slice(-2);
                  const day = ('0' + sortze_data_primaria.getDate()).slice(-2);
                  const hours = ('0' + sortze_data_primaria.getHours()).slice(-2);
                  const minutes = ('0' + sortze_data_primaria.getMinutes()).slice(-2);
                  const seconds = ('0' + sortze_data_primaria.getSeconds()).slice(-2);
                  const sortze_data = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                  const arrayCrear = [izena,abizenak,kodea,sortze_data];
                  console.log(JSON.stringify(arrayCrear));

                  fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/langileaksortu', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json', // Indicar el tipo de contenido como JSON
                    },
                    body: JSON.stringify(arrayCrear), // Convertir el objeto JSON a una cadena JSON
                  })
                  .then(response => {
                    alert("Se ha creado");
                    this.cargaLangile();
                  })
                  .catch(error => {
                    console.error('Se ha producido un error:', error);
                  });

                },
                borrar() {
                  for(var i=0; i < this.arrayId.length; i++){
                    fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/langileaklortubyid/'+this.arrayId[i])
                    .then(dato => {
                      return dato.json();
                    })
                    .then(datos => {
                            this.listaLangileById= datos;
                            console.log(this.listaLangileById[0].izena);
                            this.izenaActu=this.listaLangileById[0].izena;
                            this.abizenaActu=this.listaLangileById[0].abizenak;
                            this.kodeaActu=this.listaLangileById[0].kodea;

                            const id=this.arrayId[0];
                            const izena=this.izenaActu;
                            const abizenak=this.abizenaActu;
                            const kodea=this.kodeaActu;
                            const eguneratze_data_primaria = new Date();
                            const year = eguneratze_data_primaria.getFullYear();
                            const month = ('0' + (eguneratze_data_primaria.getMonth() + 1)).slice(-2);
                            const day = ('0' + eguneratze_data_primaria.getDate()).slice(-2);
                            const hours = ('0' + eguneratze_data_primaria.getHours()).slice(-2);
                            const minutes = ('0' + eguneratze_data_primaria.getMinutes()).slice(-2);
                            const seconds = ('0' + eguneratze_data_primaria.getSeconds()).slice(-2);
                            const eguneratze_data = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                            const arrayActu = [id,izena,abizenak,kodea,eguneratze_data];
                            console.log(JSON.stringify(arrayActu))

                            fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/langileakdelete', {
                              method: 'PUT',
                              headers: {
                                'Content-Type': 'application/json', // Indicar el tipo de contenido como JSON
                              },
                              body: JSON.stringify(arrayActu), // Convertir el objeto JSON a una cadena JSON
                            })
                            .then(response => {
                              alert("Se ha actualizado");
                              this.cargaLangile();
                            })
                            .catch(error => {
                              console.error('Se ha producido un error:', error);
                            });
                    })
                    .catch(error => {
                      console.error('Se ha producido un error:', error);
                    });
                  }
                }
              },
              mounted() {
                  // Llama a tu función cargarPagina cuando el componente se monta
                  this.cargaLangile();
                }
            });
          </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>