<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <ul class="nav nav-pills bg-dark-subtle">
            <div class=" nav bg-black rounded-end border-white border-4">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
            </div>
          </ul>
        <div id="app">
          <div style="margin-left: 30vw; margin-top: 10vh;">
            <h1 style="margin-left: 15vw;">Trabajadores</h1>
            <div style="margin-top: 10vh;">

                <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalEditar" :disabled="arrayId.length>1" @click="cargarDatosModal()">Editar</button>
                <button type="button" class="btn btn-light border-black mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalCrear" @click="limpiarCampos()">Añadir</button>
                <button type="button" class="btn btn-light border-black mb-3" @click="borrar()">Borrar</button>
                <table class="table table-striped table-hover w-50">
                    <tr class="table-primary">
                        <td class="table-primary"></td>
                        <td class="table-primary">Izena</td>
                        <td class="table-primary">Abizenak</td>
                        <td class="table-primary">Kodea</td>
                    </tr>
                    <tr class="table-secondary" v-for="(langile) in listaLangile">
                      <td class="table-secondary"><input type="checkbox" :value="langile.id"v-model="arrayId"></td>
                      <td>{{langile.izena}}</td>
                      <td>{{langile.abizenak}}</td>
                      <td>{{langile.kodea}}</td>
                    </tr>
                </table>
            </div>
          </div>
        
          <!-- Modal -->
          <div class="modal fade" id="exampleModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Trabajador</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" v-for="(langile) in listaLangileById">
                  <label>Izena:</label><br>
                  <input type="text" class="w-100" v-model="izenaActu"><br>
                  <label>Abizenak:</label><br>
                  <input type="text" class="w-100" v-model="abizenaActu"><br>
                  <label>Taldea:</label><br>
                  <input type="text" v-model="kodeaActu"><br>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                  <button type="button" class="btn btn-primary" @click="actuDatosModal()">Guardar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="exampleModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20vh;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabelCrear">Crear Trabajador</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label>Izena:</label><br>
                  <input type="text" class="w-100" v-model="izenaCrear"><br>
                  <label>Abizenak:</label><br>
                  <input type="text" class="w-100" v-model="abizenaCrear"><br>
                  <label>Taldea:</label><br>
                  <input type="text" v-model="kodeaCrear"><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                  <button type="button" class="btn btn-primary" @click="createDatosModal()">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

          <script>
            new Vue({
              el: '#app',
              data: {
                selectedCheckbox: null, // Esta variable almacenará la ID del checkbox seleccionado
                arrayId :[],
                izenaActu:"",
                abizenaActu:"",
                kodeaActu:"",
                izenaCrear:"",
                abizenaCrear:"",
                kodeaCrear:"",
                listaLangile:[],
                listaLangileById:[],
                existe: null
              },
              methods: {
                // Langilea guztiak taulan kargatu
                async cargaLangile() {
                  try {
                    const response = await fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/langileaklortu', {
                      headers: {  
                        'Content-Type': 'application/json',
                        'Access-Control-Allow-Origin': '*'
                      },
                    });

                    if (!response.ok) {
                      console.log('Errorea eskera egiterakoan');
                      throw new Error('Errorea eskaera egiterakoan');
                    }

                    const datuak = await response.json();

                    this.listaLangile = datuak
                      .filter(langile => langile.ezabatze_data === null || langile.ezabatze_data === "0000-00-00 00:00:00");
                  } catch (error) {
                    console.error('Errorea:', error);
                  }
                },
                //Editatzeko modalean aukeratutako langilearen datuak kargatzeko
                async cargarDatosModal(){
                  try{
                    const response = await fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/langileaklortubyid/'+this.arrayId[0], {
                      headers: {
                        'Content-Type': 'application/json',
                        'Access-Control-Allow-Origin': '*'
                      },
                    });

                    if(!response.ok) {
                      console.log('Errorea eskera egiterakoan');
                      throw new Error('Errorea eskaera egiterakoan');
                    }

                    const datuak = await response.json();

                    this.listaLangileById = datuak;
                    console.log(this.listaLangileById);

                    this.izenaActu = this.listaLangileById[0].izena;
                    this.abizenaActu = this.listaLangileById[0].abizenak;
                    this.kodeaActu = this.listaLangileById[0].kodea;
                  } catch (error){
                    console.error('Errorea: ', error);
                  }
                },
                // Langilearen datuak eguneratzeko
                async actuDatosModal(){
                  try{
                    const id=this.arrayId[0];
                    const izena=this.izenaActu;
                    const abizenak=this.abizenaActu;
                    const kodea=this.kodeaActu;
                    const eguneratze_data_primaria = new Date();
                    const year = eguneratze_data_primaria.getFullYear();
                    const month = ('0' + (eguneratze_data_primaria.getMonth() + 1)).slice(-2);
                    const day = ('0' + eguneratze_data_primaria.getDate()).slice(-2);
                    const hours = ('0' + eguneratze_data_primaria.getHours()).slice(-2);
                    const minutes = ('0' + eguneratze_data_primaria.getMinutes()).slice(-2);
                    const seconds = ('0' + eguneratze_data_primaria.getSeconds()).slice(-2);
                    const eguneratze_data = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                    const jsonEditatu = {
                      "id": id,
                      "izena": izena,
                      "abizenak": abizenak,
                      "kodea": kodea,
                      "eguneratze_data": eguneratze_data
                    };

                    const response = await fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/langileakeguneratu', {
                      method: 'PUT',
                      headers: {
                        'Content-Type': 'application/json',
                        'Access-Control-Allow-Origin': '*'
                      },
                      body: JSON.stringify(jsonEditatu),
                    });

                    if(!response.ok){
                      console.log('Errorea eguneratzerakoan');
                      throw new Error('Errorea eguneratzerakoan');
                    }
                    
                    alert('Ondo eguneratuta');
                    await this.cargaLangile();

                    //Modal-a ixteko ondo egiten duenean
                    const modalEditarElement = document.getElementById('exampleModalEditar');
                    const modalInst = bootstrap.Modal.getInstance(modalEditarElement);
                    modalInst.hide();
                  } catch(error){
                    console.log('Errorea: ', error);
                  }
                },
                // Langile berri bat sortzeko
                async createDatosModal(){
                  try{
                    const izena=this.izenaCrear;
                    const abizenak=this.abizenaCrear;
                    const kodea=this.kodeaCrear;
                    const sortze_data_primaria = new Date();
                    const year = sortze_data_primaria.getFullYear();
                    const month = ('0' + (sortze_data_primaria.getMonth() + 1)).slice(-2);
                    const day = ('0' + sortze_data_primaria.getDate()).slice(-2);
                    const hours = ('0' + sortze_data_primaria.getHours()).slice(-2);
                    const minutes = ('0' + sortze_data_primaria.getMinutes()).slice(-2);
                    const seconds = ('0' + sortze_data_primaria.getSeconds()).slice(-2);
                    const sortze_data = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                    const jsonSortu = {
                      "izena": izena,
                      "abizenak": abizenak,
                      "kodea": kodea,
                      "sortze_data": sortze_data
                    };

                    console.log(JSON.stringify(jsonSortu));

                    const response = await fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/langileaksortu', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json', // Indicar el tipo de contenido como JSON
                        'Access-Control-Allow-Origin': '*'
                      },
                      body: JSON.stringify(jsonSortu), // Convertir el objeto JSON a una cadena JSON
                    });

                    if(!response.ok){
                      console.log('Errorea sortzerakoan');
                      throw new Error('Errorea sortzerakoan');
                    }

                    alert('Sortu da');
                    await this.cargaLangile();

                    //Modal-a ixteko ondo sortzen duenean
                    const modalCrearElement = document.getElementById('exampleModalCrear');
                    const modalInst = bootstrap.Modal.getInstance(modalCrearElement);
                    modalInst.hide();
                  } catch(error){
                    console.log('Errorea: ', error);
                  }
                },
                // Langileak ezabatzeko
                async borrar() {
                  let ondo = false;
                  try {
                    for(var i=0; i < this.arrayId.length; i++){
                      const id = this.arrayId[i];
                      const ezabatze_data_primaria = new Date();
                      const year = ezabatze_data_primaria.getFullYear();
                      const month = ('0' + (ezabatze_data_primaria.getMonth() + 1)).slice(-2);
                      const day = ('0' + ezabatze_data_primaria.getDate()).slice(-2);
                      const hours = ('0' + ezabatze_data_primaria.getHours()).slice(-2);
                      const minutes = ('0' + ezabatze_data_primaria.getMinutes()).slice(-2);
                      const seconds = ('0' + ezabatze_data_primaria.getSeconds()).slice(-2);
                      const ezabatze_data = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                      const jsonEzabatu = {
                        "id": id,
                        "ezabatze_data": ezabatze_data
                      };
                      console.log(JSON.stringify(jsonEzabatu));

                      const deleteResponse = await fetch('http://localhost/Erronka2/Back/talde1erronka2/public/api/langileakdelete', {
                        method: 'PUT',
                        headers: {
                          'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(jsonEzabatu),
                      });

                      if (!deleteResponse.ok) {
                        console.log('Errorea ezabatzerakoan');
                        throw new Error('Errorea ezabatzerakoan');
                      }

                      ondo = true;
                      this.cargaLangile();
                    }
                  } catch (error) {
                    ondo = false;
                    console.error('Errorea:', error);
                  }
                  if(ondo){
                    alert("Eguneratu egin da");
                  }

                  this.arrayId = [];
                },
                // Sortzeko modalean aurreko langilearen datuak ez agertzeko
                limpiarCampos(){
                  this.izenaCrear = "";
                  this.abizenaCrear = "";
                  this.kodeaCrear = "";
                }
              },
              mounted() {
                  // Konponentea sortzen denean taula kargatzeko
                  this.cargaLangile();
                }
            });
          </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
